.suitePicker {
  display: none;
}
.comHand {
  height: 200px;
}
.playerHand {
  height: 200px;
}
.deck {
  height: 200px;
}
.pile {
  height: 200px;
}
.mainTable {
  display: flex;
}
/* .playArea {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
} */
.logo {
  height: 100px;
}
