.suitePicker {
  display: none;
  margin-left: 100px;
  text-align: center;
  width: 480px;
  background-color: rgb(206, 27, 27);
  color: white;
  border: solid blue;
  font-size: 25px;
}
.suites {
  font-size: 20px;
  height: 50px;
  /* width: 80px; */
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}
body {
  background-color: rgb(13, 113, 195);
  /* color: rgb(202, 111, 26); */
  font-size: 20px;
}
.logo {
  height: 200px;
  margin: 10px;
}
.mark {
  background-color: rgb(78, 180, 214);
  width: 250;
  border: solid green;
  direction: left;
}
.text {
  margin-right: 20px;
}

.comHand {
  height: 200px;
  margin-left: 20px;
  padding: 10px;
}
.playerHand {
  height: 200px;
  margin-left: 20px;
  padding: 10px;
}
.deck {
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
@keyframes moving {
  0% {
    transform: translateX(-1500px);
  }
}

.animate {
  animation: moving 1s;
}
.pile {
  height: 200px;
  margin-left: 20px;
}
.mainTable {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.computerSpace {
  border-bottom: solid rgb(16, 62, 188);
}
.playerSpace {
  border-top: solid rgb(16, 62, 188);
  margin-top: 20px;
}
.playArea {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.playAgain {
  margin-left: 100px;
  display: none;
  background-color: red;
  border: green solid;
  color: white;
  width: 500px;
}
.new {
  height: 100px;
  font-size: 60px;
  margin-bottom: 30px;
  width: 400px;
  background-color: aqua;
}
.curSuite {
  margin-left: 20px;
}

@media (max-width: 1300px) {
  .mainTable {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
  }
  .playerSpace {
    border-top: solid rgb(16, 62, 188);
    margin-top: 20px;
    width: 700px;
  }
  .computerSpace {
    border-bottom: solid rgb(16, 62, 188);
    width: 700px;
  }
  .comHand {
    height: 150px;
    margin-left: 10px;
    padding: 10px;
  }
  .playerHand {
    height: 140px;
    margin-left: 10px;
    padding: 10px;
  }
  .deck {
    height: 150px;
    /* margin-left: 20px; */
  }
  .pile {
    height: 140px;
    margin-top: 10px;
  }
  .suitePicker {
    display: none;
    margin-top: 30px;
    text-align: center;
    width: 400px;
    background-color: rgb(206, 27, 27);
    color: white;
    border: solid blue;
    font-size: 20px;
  }
  .suites {
    font-size: 20px;
    height: 50px;
    /* width: 80px; */
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
  }
  .playAgain {
    margin-left: 100px;
    /* display: none; */
    background-color: red;
    border: green solid;
    font-size: 18px;
    color: white;
    width: 400px;
  }
  .new {
    height: 80px;
    font-size: 40px;
    margin-bottom: 20px;
    width: 250px;
    background-color: aqua;
  }
}
