.suitePicker {
  display: none;
  margin-left: 40px;
}
.comHand {
  height: 200px;
}
.playerHand {
  height: 200px;
}
.deck {
  height: 200px;
}
.pile {
  height: 200px;
}
.mainTable {
  display: flex;
}
/* .playArea {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
} */
.logo {
  height: 100px;
}
.playAgain {
  margin-left: 40px;
  display: none;
}
.new {
  font-size: 20px;
  margin-left: 30px;
}
